<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add movies!</title>
    <link rel="stylesheet" href="/style.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light text-light bg-warning fixed-top">
  
  <h2 style="color:black;">&nbsp;&nbsp;Pitts Restaurant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/product">Check All Cuisine</a></li>
      <li class="nav-item"><a class="nav-link" href="/vendors">Check All Brands</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
          <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li>
          <li class="nav-item"><a class="nav-link active" href="/edit">Edit Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/>
  
  <div class="card">
  <h2 class="card-header"><storng style="color: pink">Add</storng> a new shoes </h2>

  
  <form action="/addOne" method="post">
    <div>
      <label for="id">ID :</label>
      <input type="number" name="id">
    </div>
    
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name">
    </div>
    
    <div>
      <label for="brand">brand:</label>
      <input type="text" name="brand">
    </div>
    
    <div>
      <label for="price">Price:</label>
      <input type="number" name="price">
    </div>  
    
    <div>
      <label for="color">color:</label>
      <input type="text" name="color">
    </div>
    
    <div>
      <label for="imageUrl">imageUrl:</label>
      <input type="text" name="imageUrl">
    </div>
    
    <button type="submit"> Submit </button>
  </form>
  
  </div>
  </div>
</body>