<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Customers!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  
  <body>
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light text-light bg-warning fixed-top">
  
  <h2 style="color:black;">&nbsp;&nbsp;Pitts Restaurant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link active" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/product">Menu</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
         <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li>
          <li class="nav-item"><a class="nav-link" href="/mine">My Profile</a ></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/>
  
  
  <div class="container-fluid">
    
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">
      <div class="carousel-item active" style = "height: 540px;">
        <img src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F3194dc5a-e3e9-4c49-909f-4a3bb3050a23.image.png?v=1606080896000" alt="Image" class="d-block w-100">
      </div>
      <div class="carousel-item" style = "height: 540px;">
        <img src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F46accb59-0443-48f3-8c63-06fb352bc181.image.png?v=1606081106261" alt="Image" class="d-block w-100">
      </div>
       <div class="carousel-item" style = "height: 540px;">
        <img src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2Fnoo.jpeg?v=1605316404562" alt="Image" class="d-block w-100">
      </div>
    </div>
    
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    
    </div>
    
<br/><br/><br/><br/>
  <br/><br/><br/>
  
  <div class="container-fluid text-center">    
  <h2>Select type here!</h2><br>
  <div class="row">
    
    <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F11540.jpg?v=1605316430226" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <p><a href="/producttype?type=1" style="color:black;">Noodles & Pasta</a></p>
                </h4>
                </div>
            </div>
          </div>
    
     <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F92b75d13-e69a-42d3-a65d-fe1f757efb1d.image.png?v=1605316978810" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <p><a href="/producttype?type=2" style="color:black;">Main Dishes</a></p>
                </h4>
                        </div>
            </div>
          </div>
    
     <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F838c061a-ed90-4c47-8df8-5e515e124c03.image.png?v=1606081195016" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <p><a href="/producttype?type=3" style="color:black;">Dessert</a></p>
                </h4>
              </div>
            </div>
          </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F1e59e4eb-af21-4ff5-a2d3-23cd24b0a428.image.png?v=1606085513002" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <p><a href="/producttype?type=4" style="color:black;">Appetizers</a></p>
                </h4>
                </div>
            </div>
          </div>
    
     <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2Fa08782d7-c3e0-4667-93cd-a4bc106137ec.image.png?v=1606085654532" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <p><a href="/producttype?type=5" style="color:black;">Soup</a></p>
                </h4> 
              </div>
            </div>
          </div>
    
     <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://cdn.glitch.com/7e7ca483-ecc3-46ba-938a-a763a493379f%2F7e7ca483-ecc3-46ba-938a-a763a493379f_715e2d73-4c82-4f52-99f4-3dde2df6b84d.image.png?v=1606086007894" alt="">
              <div class="card-body">
                <h4 class="card-title">
                  <p><a href="/producttype?type=6" style="color:black;">Poultry & Eggs</a></p>
                </h4>
                      </div>
            </div>
          </div>
    
 
    
    </div></div>
  <br/><br/><br/><br/> 
  
</body>
</html>