<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pitts Reastaruant</title>
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light text-light bg-warning fixed-top">
  
  <h2 style="color:black;">&nbsp;&nbsp;Pitts Restaurant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/product">Menu</a></li>
      <li class="nav-item"><a class="nav-link" href="/type">Type</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
          <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li>
       <li class="nav-item"><a class="nav-link" href="/getTotalPrice">Pay</a></li>
          <li class="nav-item"><a class="nav-link  active" href="/mine">My Profile</a ></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/>
  
<br/><br/>
<div class="d-flex justify-content-center">
<div class="card text-center" style="width:60%">
  <div class="card-header">
   <h2>
     My Profile
    </h2> 
  </div>
  
   <table class="table table-bordered" style="max-width:100%;">
    <tr><td><strong>Name</strong></td><td><%= user.name %></td></tr>
     <tr><td><strong>Email</strong></td><td><%= user.email %></td></tr>
    </table>
  <button class="btn btn-secondary btn-lg btn-block btn-warning" onclick="location.href='/index'" type="button">
         Back to Home Page</button>
</div></div>
  
  <br/><br/><br/><br/>

</body>

