<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shoes</title>
  <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous"
  />
</head>
<body>
  
  
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  <h2 style="color:white;">&nbsp;&nbsp;Pitts Restaurant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarResponsive">      
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/product">Menu</a></li>
    </ul>
        
     <ul class="navbar-nav ml-auto"> 
          <li class="nav-item"><a class="nav-link" href="/myCart">My Cart</a ></li>
          <li class="nav-item"><a class="nav-link  active" href="/mine">My Profile</a ></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
 </div>
</nav>
</div>
    <br/><br/><br/>
  
  <div class="app">
        <div class="calculator">
            <header>
                <h1>Pay Here</h1>
            </header>
            <main>
                <section class="options">
                    
                    <div class="input-group">
                        <input type="number" class="cost" placeholder="How much was the bill?">
                    </div>
                    
                    <div class="input-group">
                        <select class="service" required>
                            <option disabled selected>How was your service?</option>
                            <option value="5">5 - Amazing</option>
                            <option value="4">4 - Great</option>
                            <option value="3">3 - Good</option>
                            <option value="2">2 - Alright</option>
                            <option value="1">1 - Terrible</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="text" class="people" placeholder="How many are sharing the bill?">
                    </div>
                    <div class="input-group">
                        <select class="generosity" required>
                            <option disabled selected>How generous you are?</option>
                            <option value="1">1 - Above averge</option>
                            <option value="2">2 - Averge</option>
                            <option value="3">3 - Below averge</option>
                        </select>
                    </div>
                </section>
                <section class="tip-wrap">
                    <p>You should pay</p>
                    <h3 class="tip">0</h3>
                </section>
            </main>
            <footer>
                <button id="tip-btn">Pay</button>
            </footer>
        </div>
    </div>

  
  <button class="btn btn-secondary btn-lg btn-block" onclick="location.href='/index'" type="button">
         Back to Home Page</button>
</div></div>
  
  <br/><br/><br/><br/>

</body>